* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #090E11;
  color: #FFFFFF;
}

/* .content div h1 {
  padding: 10px 10px 15px 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 38px;
} */

.todoapp-animation {
  margin: 15px auto;
  display: flex;
  height: 56px;
  overflow: hidden;
  width: 182px;
}

.todoapp-animation > h1 {
  font-size: 38px;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.todoapp-animation > h1 {
  transform: translateY(56px);
}

.todoapp-animation h1:nth-of-type(1){
  animation: stagger 1s forwards ease-in-out 0s;
}

.todoapp-animation h1:nth-of-type(2){
  animation: stagger 1s forwards ease-in-out 0.1s;
}

.todoapp-animation h1:nth-of-type(3){
  animation: stagger 1s forwards ease-in-out 0.2s;
}

.todoapp-animation h1:nth-of-type(4){
  animation: stagger 1s forwards ease-in-out 0.3s;
}

.todoapp-animation h1:nth-of-type(5){
  animation: stagger 1s forwards ease-in-out 0.4s;
}

.todoapp-animation h1:nth-of-type(6){
  animation: stagger 1s forwards ease-in-out 0.5s;
}

.todoapp-animation h1:nth-of-type(7){
  animation: stagger 1s forwards ease-in-out 0.6s;
}

.todoapp-animation h1:nth-of-type(8){
  animation: stagger 1s forwards ease-in-out 0.7s;
}


@keyframes stagger {
  to {
      transform: translateY(0px);
  }
}

.content {
  text-align: center;
  padding: 20px;
}

#todo-input {
  background-color: #262D31;
  border: 2px solid #828689;
  outline: none;
  color: #FFFFFF;
  padding: 13px;
  width: 300px;
  border-radius: 25px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  transition: 0.2s;
}

#todo-input:focus {
  border-color: #dddddd;
  box-shadow: 0 0 10px #dddddd;
}

#todo-input::placeholder {
  color: #828689;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.todo-input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  padding: 18px;
  width: 500px;
}

.buttons {
  margin-top: 4px;
  margin-left: 15px;
}

ul {
  list-style-type: none;
}

li {
  position: relative;
  padding: 15px;
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 5px;
}

li::after {
  content: '';
  width: 430px;
  height: 1px;
  position: absolute;
  bottom: 0;
  background-color: #828689;
  filter: drop-shadow(0px 2px 2px rgba(130,130,130,1));
}

.todo-icon {
  margin-top: 5px;
}

.list-content {
  margin-top: 8px;
  margin-left: 28px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.list-btns {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.edit-btn {
  margin-right: 8.5px;
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.3s;
}
.ripple:hover {
  background: #373b3d radial-gradient(circle, transparent 1%, #373b3d 1%) center/15000%;
}
.ripple:active {
  background-color: #4d4d4d;
  background-size: 100%;
  transition: background 0s;
}

/* Button style */
.buttons button {
  margin-right: 5px;
  border: none;
  border-radius: 2px;
  padding: 5px;
  width: 64px;
  height: 40px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #262D31;
  box-shadow: 0 0 4px #999;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}


svg[data-icon = "carbon:delete"], svg[data-icon = "carbon:asterisk"] {
  color: #E3BFBF;
}

svg[data-icon = "carbon:asterisk"] {
  margin-bottom: 11px;
  margin-left: -2px;
}

svg[data-icon = "carbon:edit"] {
  color: #a5c1d1;
}

svg[data-icon = "carbon:add-alt"] {
  color: #c5e4be;
}

.list-btns button {
  border: none;
  border-radius: 2px;
  padding: 5px;
  width: 55px;
  height: 37px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #262D31;
  box-shadow: 0 0 4px #999;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 1280px){
  .content {
    padding: 20px 0px 20px 0px;
  }

  .todoapp-animation {
    height: 43px;
    width: 144px;
  }
  
  .todoapp-animation > h1 {
    font-size: 30px;
  }
  
  .todoapp-animation > h1 {
    transform: translateY(43px);
  }

  .todo-input-container {
    justify-content: space-around;
    padding: 15px 0px 15px 0px;
    width: 357px;
  }

  #todo-input {
    padding: 9px;
    width: 221px;
    font-size: 13px;
  }

  #todo-input::placeholder {
    font-size: 13px;
  }

  .buttons {
    margin-top: 4px;
    margin-left: 0px;
  }

  .buttons button {
    margin-right: 3px;
    padding: 4px;
    width: 49px;
    height: 32px;
    font-size: 0px;
  }
  
  svg[data-icon = "carbon:asterisk"] {
    margin-bottom: 9px;
    margin-left: -1px;
  }

  li {
    padding: 10px;
    width: 325px;
    margin-top: 2px;
  }

  li::after {
    width: 311px;
  }

  .list-content {
    margin-left: 25px;
    font-size: 13px;
  }

  .list-btns button {
    width: 40px;
    height: 29px;
  }

  .edit-btn {
    margin-right: 6.5px;
  }
}

@media (max-width: 359px) {
  .todoapp-animation {
    height: 41px;
    width: 134px;
  }
  
  .todoapp-animation > h1 {
    font-size: 28px;
  }
  
  .todoapp-animation > h1 {
    transform: translateY(41px);
  }

  .todo-input-container {
    width: 280px;
  }

  #todo-input {
    padding: 10px;
    height: 35px;
    width: 180px;
    font-size: 12px;
  }

  #todo-input::placeholder {
    font-size: 12px;
  }

  .buttons {
    margin-top: 5px;
    margin-left: 0px;
  }

  .buttons button {
    margin-right: 2.5px;
    padding: 4px;
    width: 37px;
    height: 28px;
  }

  li {
    padding: 10px;
    width: 273px;
    margin-top: 0px;
  }

  li::after {
    width: 257px;
  }

  .list-content {
    margin-left: 22px;
    font-size: 12px;
  }

  .list-btns button {
    width: 32px;
    height: 25px;
  }

  .edit-btn {
    margin-right: 5.5px;
  }
}